<sidebar></sidebar>
<div class="sidebar">
  <adminhome-topbar></adminhome-topbar>
</div>

<div class="sidebar-subpage">
  <h3>Chat Interactions</h3>
</div>

<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="content list">

          <form>
            <div class="row">
              <div class="clearfix"></div>
              <div class="col-sm-12">

                <div class="filter-wrapper" (keydown.enter)="onSearchEnter($event, datatable)">
                  <div class="fw-search-fields">
                    @if (service.search) {
                      <input id="conversation_uuid" name="conversation_uuid" type="text" class="form-control"
                        placeholder="Conversation UUID" [(ngModel)]="service.search.conversation_uuid" pInputText>
                    }
                  </div>
                  <div class="fw-search-fields">
                    @if (service.search) {
                      <input id="user_id" name="user_id" type="text" class="form-control"
                        placeholder="User ID" [(ngModel)]="service.search.user_id" pInputText>
                    }
                  </div>
                  <div class="fw-search-fields">
                    @if (service.search) {
                        <input id="creation_date_gt" name="creation_date_gt" type="datetime-local" class="form-control"
                          placeholder="Created after" [(ngModel)]="service.search.creation_date_gt">
                    }
                  </div>
                  <div class="fw-search-fields">
                    @if (service.search) {
                        <input id="creation_date_lt" name="creation_date_lt" type="datetime-local" class="form-control"
                          placeholder="Created before" [(ngModel)]="service.search.creation_date_lt">
                    }
                  </div>
                  <div class="fw-actions">
                    <div class="btn-group">
                      <button type="button" class="btn btn-search" (click)="reload(datatable)">Search</button>
                      <button type="button" class="btn btn-reset" (click)="reset(datatable)">Undo</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="table-wrapper clearfix">
              <p-table #datatable (onLazyLoad)="lazyLoad($event)" [lazy]="true" [paginator]="true"
                [resizableColumns]="true" [rows]="10" [totalRecords]="service.listSize" [value]="model">
                <ng-template let-columns pTemplate="header">
                  <tr class="sort-header">
                    <th pResizableColumn>#</th>
                    <th pResizableColumn>Conversation UUID</th>
                    <th pResizableColumn>User ID</th>
                    <th pResizableColumn>Creation Date</th>
                    <th pResizableColumn>User Message</th>
                    <th pResizableColumn>AI Response</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="6">No results.</td>
                  </tr>
                </ng-template>
                <ng-template let-rowData let-rowIndex="rowIndex" pTemplate="body">
                  <tr>
                    <td class="RowIndex">{{ rowIndex + 1 }}</td>
                    <td class="ui-resizable-column">
                      <button type="button" class="btn btn-link btn-xs" (click)="applyQuickFilter('conversation_uuid', rowData.conversation_uuid, datatable)">
                        {{ rowData.conversation_uuid }}
                      </button>
                      <button
                        type="button"
                        class="btn btn-link btn-xs"
                        title="Copy conversation UUID"
                        aria-label="Copy conversation UUID"
                        [copy-clipboard]="rowData.conversation_uuid"
                        (copied)="onValueCopied('Conversation UUID')">
                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                      </button>
                    </td>
                    <td class="ui-resizable-column">
                      <button type="button" class="btn btn-link btn-xs" (click)="applyQuickFilter('user_id', rowData.user_id, datatable)">
                        {{ rowData.user_id }}
                      </button>
                      <button
                        type="button"
                        class="btn btn-link btn-xs"
                        title="Copy user ID"
                        aria-label="Copy user ID"
                        [copy-clipboard]="rowData.user_id"
                        (copied)="onValueCopied('User ID')">
                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                      </button>
                    </td>
                    <td class="ui-resizable-column">{{ formatCreationDate(rowData.creation_date) }}</td>
                    <td class="ui-resizable-column">
                      <span>{{ previewText(rowData.user_message) }}</span>
                      @if (hasMoreText(rowData.user_message)) {
                        <button type="button" class="btn btn-link btn-xs" (click)="openPreview('User Message', rowData.user_message)">
                          Show more
                        </button>
                      }
                    </td>
                    <td class="ui-resizable-column">
                      <span>{{ previewText(rowData.ai_response) }}</span>
                      @if (hasMoreText(rowData.ai_response)) {
                        <button type="button" class="btn btn-link btn-xs" (click)="openPreview('AI Response', rowData.ai_response)">
                          Show more
                        </button>
                      }
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="previewDialogVisible"
  [header]="previewDialogTitle"
  [modal]="true"
  [style]="{width: '60vw', maxWidth: '900px'}"
  [maximizable]="true"
  (onHide)="closePreview()">
  <div style="white-space: pre-wrap; word-break: break-word; line-height: 1.5;">
    {{ previewDialogContent }}
  </div>
</p-dialog>
