<sidebar></sidebar>
<div class="sidebar">
    <homepage-topbar></homepage-topbar>
</div>

<div class="sidebar-subpage">
    <h3>View {{metadataName}}</h3>
    <p>
    </p>
</div>


<div class="main">

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="content view">
                    <div *ngIf="regConfig != null && regConfig.length > 0">
                        <dynamic-form [fields]="regConfig" [view]="true">
                        </dynamic-form>
                        <button type="button" class="btn btn-warning" (click)="cancel()">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
