<sidebar></sidebar>
<div class="sidebar">
  <adminhome-topbar></adminhome-topbar>
</div>

<div class="sidebar-subpage">
  <h3>{{ editMode ? 'Edit User' : 'New User' }}</h3>
  <p>Authentication &amp; Authorization</p>
</div>

<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="content view">
          <div class="row">
            <div class="col-md-12 col-sm-12">

              <div class="form-group clearfix row">
                <label class="label-text col-sm-3">Username</label>
                <div class="col-sm-9">
                  <input [(ngModel)]="element.username" type="text" class="form-control"
                    placeholder="Username" pInputText>
                </div>
              </div>

              <div class="form-group clearfix row">
                <label class="label-text col-sm-3">Email</label>
                <div class="col-sm-9">
                  <input [(ngModel)]="element.email" type="email" class="form-control"
                    placeholder="Email" pInputText>
                </div>
              </div>

              <div class="form-group clearfix row">
                <label class="label-text col-sm-3">Name</label>
                <div class="col-sm-9">
                  <input [(ngModel)]="element.name" type="text" class="form-control"
                    placeholder="Name" pInputText>
                </div>
              </div>

              <div class="form-group clearfix row">
                <label class="label-text col-sm-3">Surname</label>
                <div class="col-sm-9">
                  <input [(ngModel)]="element.surname" type="text" class="form-control"
                    placeholder="Surname" pInputText>
                </div>
              </div>

              <div class="form-group clearfix row">
                <label class="label-text col-sm-3">User Type</label>
                <div class="col-sm-9">
                  <select class="form-control" [ngModel]="selectedUserType" (ngModelChange)="onUserTypeChange($event)" name="userType">
                    @for (userType of userTypes; track userType) {
                      <option [value]="userType">{{ userType }}</option>
                    }
                  </select>
                </div>
              </div>

              @if (selectedUserType === 'User') {
              <div class="form-group clearfix row">
                <label class="label-text col-sm-3">Groups</label>
                <div class="col-sm-9">
                  @if (availableMetadataGroups.length > 0) {
                    <div class="group-options">
                      <div style="margin-bottom: 12px;">
                        <label class="checkbox-inline" style="margin-right: 16px;">
                          <input type="checkbox" [checked]="editAll"
                            (change)="onEditAllChange($any($event.target).checked)">
                          edit_all
                        </label>
                        <label class="checkbox-inline" style="margin-right: 16px;">
                          <input type="checkbox" [checked]="viewAll"
                            (change)="onViewAllChange($any($event.target).checked)">
                          view_all
                        </label>
                        <label class="checkbox-inline">
                          <input type="checkbox" [checked]="all"
                            (change)="onAllChange($any($event.target).checked)">
                          all
                        </label>
                      </div>

                      @for (group of availableMetadataGroups; track group.id) {
                        <label class="checkbox-inline" style="margin-right: 16px; margin-bottom: 8px;">
                          <input type="checkbox"
                            [checked]="isGroupSelected(group.name)"
                            (change)="onGroupSelectionChange(group.name, $any($event.target).checked)">
                          {{ group.name }}
                        </label>
                      }
                    </div>
                  } @else {
                    <small class="text-muted">No groups available.</small>
                  }
                </div>
              </div>
              }

              @if (!editMode) {
                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">Password</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="element.password" type="password" class="form-control"
                      placeholder="Password" pInputText>
                  </div>
                </div>
              }

              <div class="form-group clearfix row">
                <label class="label-text col-sm-3">Enabled</label>
                <div class="col-sm-9">
                  <p-checkbox [(ngModel)]="element.enabled" [binary]="true"></p-checkbox>
                </div>
              </div>

              <div class="form-group clearfix row">
                <label class="label-text col-sm-3">Email Verified</label>
                <div class="col-sm-9">
                  <p-checkbox [(ngModel)]="element.emailVerified" [binary]="true"></p-checkbox>
                </div>
              </div>

              <div class="btn-group btn-actions pull-right">
                @if (!editMode) {
                  <button type="button" (click)="save()" class="btn btn-success">Save</button>
                }
                @if (editMode) {
                  <button type="button" (click)="update()" class="btn btn-success">Update</button>
                }
                <a [routerLink]="'/auth-users/list'" class="btn btn-default">Cancel</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
