<sidebar></sidebar>
<div class="sidebar">
    <adminhome-topbar></adminhome-topbar>
</div>


<div class="sidebar-subpage">

    <h3>
        Edit Link
    </h3>
    <p>

    </p>

</div>


<div class="main">

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="content view">
                    <div class="row">
                        <form [formGroup]="registerForm">
                            <div class="col-md-12 col-sm-12">

                                <div class="form-group clearfix row">
                                    <label class="label-text col-sm-3">Name</label>
                                    <div class="col-sm-9">
                                        <input [(ngModel)]="element.name" label="Name" formControlName="name" pInputText placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group clearfix row">
                                    <label class="label-text col-sm-3">Labels</label>
                                    <div class="col-sm-9">
                                        <input [(ngModel)]="element.labels" label="Labels" formControlName="labels" pInputText
                                                placeholder="Labels">
                                    </div>
                                </div>
                                <div class="form-group clearfix row">
                                    <label class="label-text col-sm-3">metadata_name</label>
                                    <div class="col-sm-9">
                                        <p-dropdown [(ngModel)]="element.metadata_name" [filter]="false" [options]="metadatas"
                                                [style]="{'width':'100%'}" filterBy="label" (onChange)="changedMetadata($event)"
                                                formControlName="metadata_name" placeholder="Select a metadata">
                                        </p-dropdown>
                                    </div>
                                </div>

                                <div class="form-group clearfix row">
                                    <label class="label-text col-sm-3">metadata_lock_field</label>
                                    <div class="col-sm-9">
                                        <p-dropdown [(ngModel)]="element.metadata_lock_field" [filter]="false"
                                                [readonly]="!element.metadata_name" [options]="fieldDefinitions"
                                                [style]="{'width':'100%'}" formControlName="metadata_lock_field"
                                                placeholder="Select a field">
                                        </p-dropdown>
                                    </div>
                                </div>


                                <div class="form-group clearfix row">
                                    <label class="label-text col-sm-3">metadata_searchable_field</label>
                                    <div class="col-sm-9">
                                        <p-dropdown [(ngModel)]="element.metadata_searchable_field" [filter]="false"
                                                [readonly]="!element.metadata_name" [options]="fieldDefinitions"
                                                [style]="{'width':'100%'}" formControlName="metadata_searchable_field"
                                                placeholder="Select a field">
                                        </p-dropdown>
                                    </div>
                                </div>

                                <div class="btn-group btn-actions pull-right">
                                    <button type="button" *ngIf="!element.uuid_name" [disabled]="!registerForm.valid" (click)="save()"
                                            class="btn btn-success">Save
                                    </button>

                                    <button type="button" *ngIf="element.uuid_name" [disabled]="!registerForm.valid"
                                            class="btn btn-success" (click)="update()">Modify
                                    </button>

                                    <button type="button" *ngIf="element.uuid_name" (click)="confirmDelete()" class="btn btn-danger">
                                        Undo
                                    </button>

                                    <button type="button" (click)="navigateToList()" class="btn btn-danger">Undo</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
