<sidebar></sidebar>

<div class="sidebar">
  <adminhome-topbar></adminhome-topbar>
</div>

<div class="sidebar-subpage">
  <h3>
    Edit Field Definition
  </h3>

</div>
<div class="main">

  <div class="container-fluid">
    <div class="content">
      <form #theform="ngForm">

        <div class="row">

          <div class="col-sm-12">
            <div class="panel clearfix">

              <div class="form-group clearfix row">
                <label class="label-text col-sm-3">Metadata (*)</label>
                <div class="col-sm-9">

                  <p-select [(ngModel)]="selectedMetadata" [filter]="false" [options]="metadatasSelect"
                    optionLabel="table_name" [style]="{'width':'100%'}" filterBy="table_name" (onChange)="changedMetadata($event)"
                    name="metadata" placeholder="Select metadata">
                  </p-select>
                </div>
              </div>


              <div class="form-group clearfix row">
                <label class="label-text col-sm-3">Name (*)</label>
                <div class="col-sm-9">
                  <input [(ngModel)]="element.name" name="name" pInputText type="text">
                </div>
              </div>

              <div class="form-group clearfix row">
                <label class="label-text col-sm-3">Label (*)</label>
                <div class="col-sm-9">
                  <input [(ngModel)]="element.label" name="label" pInputText type="text">
                </div>
              </div>


              <div class="form-group clearfix row">
                <label class="label-text col-sm-3">Input Type (*)</label>
                <div class="col-sm-9">
                  <p-select [(ngModel)]="fieldType" [filter]="false" [options]="fieldTypes" [style]="{'width':'100%'}"
                    filterBy="label" name="typeSelect" placeholder="Seleziona un tipo"  (onChange)="changedFieldType($event)">
                  </p-select>
                </div>
              </div>


              @if (fieldType == 'join'|| fieldType == 'multijoin') {
                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">Join Table Name</label>
                  <div class="col-sm-9">
                    <p-select [(ngModel)]="selectedJoinMetadata" [filter]="false" [options]="joinMetadatasSelect"
                      optionLabel="table_name" [style]="{'width':'100%'}" filterBy="table_name"
                      (onChange)="changedJoinMetadata($event)" name="joinTableName"
                      placeholder="Select join metadata">
                    </p-select>
                  </div>
                </div>
              }

              @if (fieldType == 'join'|| fieldType == 'multijoin') {
                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">Join Table Key</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="element.join_table_key" name="joinTableKey" pInputText
                      placeholder="Join Table Key" readonly>
                  </div>
                </div>
              }

              @if (fieldType == 'join'|| fieldType == 'multijoin') {
                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">Join Table Fields</label>
                  <div class="col-sm-9">
                    <p-select [(ngModel)]="selectedJoinField" [options]="joinFieldOptions"
                      [style]="{'width':'100%'}" placeholder="Select metadata field"
                      name="joinTableSelectFields" optionLabel="label" optionValue="value"
                      (onChange)="changedJoinFields($event)">
                    </p-select>
                  </div>
                </div>
              }


              @if (fieldType == 'select') {
                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">Options</label>
                  <div class="col-sm-9">
                    <textarea [(ngModel)]="element.options" name="options" pTextarea></textarea>
                  </div>
                </div>
              }
              @if (tabs.length > 0) {
                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">Tab Name</label>
                  <div class="col-sm-9">
                    <p-select [(ngModel)]="element.tab_name" [filter]="false" [options]="tabs"
                      [style]="{'width':'100%'}" filterBy="label" (onChange)="changedTab($event)" name="tab"
                      placeholder="Tab">
                    </p-select>
                  </div>
                </div>
              }
              @if (tabToGroups.size > 0) {
                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">Group Name</label>
                  <div class="col-sm-9">
                    <p-select [(ngModel)]="element.group_name" [filter]="false" [options]="groups"
                      [style]="{'width':'100%'}" filterBy="label" name="group" placeholder="Group">
                    </p-select>
                  </div>
                </div>
              }

              @if (fieldType !== 'media') {
                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">Show In List</label>
                  <div class="col-sm-9">
                    <p-toggleswitch [(ngModel)]="element.show_in_list" name="show_in_list">Show In List</p-toggleswitch>
                  </div>
                </div>
              }


              @if (fieldType !== 'media') {
                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">Is Searchable</label>
                  <div class="col-sm-9">
                    <p-toggleswitch [(ngModel)]="element.searchable" name="searchable">Searchable</p-toggleswitch>
                  </div>
                </div>
              }


              @if (element.searchable &&fieldType !== 'media') {
                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">Search Condition</label>
                  <div class="col-sm-9">
                    <p-select [(ngModel)]="element.search_condition" [filter]="false" [options]="searchConditionItems"
                      [style]="{'width':'100%'}" filterBy="label" name="searchableCondition"
                      placeholder="Select a search condition">
                    </p-select>
                  </div>
                </div>
              }

              <div class="form-group clearfix row">
                <label class="label-text col-sm-3">Advanced Options?</label>
                <div class="col-sm-9">
                  <p-toggleswitch name="advanced" [(ngModel)]="advanced"></p-toggleswitch>
                </div>
              </div>

              @if (advanced) {
                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">SQL Type</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="element.sql_type" name="sql_type" pInputText placeholder="Tipo SQL">
                  </div>
                </div>
              }


              @if (advanced) {
                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">SQL Definition</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="element.sql_definition" name="sql_definition" pInputText
                      placeholder="Definizione Campo SQL">
                  </div>
                </div>
              }


              @if (advanced) {
                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">Default value </label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="element.default_value" name="default_value" pInputText
                      placeholder="Valore Default">
                  </div>
                </div>
              }


              @if (advanced) {
                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">Pattern</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="element.pattern" name="pattern" pInputText placeholder="Pattern">
                  </div>
                </div>
              }


              @if (advanced) {
                <div class="form-group clearfix row">
                  <label class="label-text col-sm-3">Definition</label>
                  <div class="col-sm-9">
                    <input [(ngModel)]="element.definition" name="definition" pInputText placeholder="Definizione">
                  </div>
                </div>
              }


              <div class="btn-group btn-actions pull-right">
                <button (click)="navigateToList()" class="btn btn-danger" type="button">Undo</button>
                @if (element.uuid) {
                  <button (click)="confirmDelete()" class="btn btn-warning" type="button">
                    Delete
                  </button>
                }
                @if (!element.uuid) {
                  <button (click)="save()" [disabled]="!theform.form.valid" class="btn btn-success"
                    type="button">
                    Save
                  </button>
                }
                @if (element.uuid) {
                  <button (click)="update()" [disabled]="!theform.form.valid" class="btn btn-success"
                    type="button">
                    Modify
                  </button>
                }
                @if (!element.uuid) {
                  <button (click)="next(element.metadata_uuid)" [disabled]="!theform.form.valid"
                    class="btn btn-success"
                    type="button">
                    NEXT
                  </button>
                }

              </div>
            </div>
          </div>


        </div>
      </form>

    </div>
  </div>
</div>
