<sidebar></sidebar>
<div class="sidebar">
  <adminhome-topbar></adminhome-topbar>
</div>

<div class="sidebar-subpage">
  <h3>
    View Action
  </h3>
  <p>
  </p>
</div>

<div class="main">

  <div class="container-fluid">
    <div class="row">
      <div class="content view">
        <div class="row">
          <div class="col-sm-12">

            <div class="form-group clearfix row">
              <label class="label-text col-sm-3">UUID</label>
              <div class="col-sm-9">
                {{element.uuid}}
              </div>
            </div>

            <div class="form-group clearfix row">
              <label class="label-text col-sm-3">Name</label>
              <div class="col-sm-9">
                {{element.name}}
              </div>
            </div>

            <div class="form-group clearfix row">
              <label class="label-text col-sm-3">Description</label>
              <div class="col-sm-9">
                {{element.description}}
              </div>
            </div>

            <div class="form-group clearfix row">
              <label class="label-text col-sm-3">Metadata Name</label>
              <div class="col-sm-9">
                {{element.metadata_name}}
              </div>
            </div>

            <div class="form-group clearfix row">
              <label class="label-text col-sm-3">Condition</label>
              <div class="col-sm-9">
                {{element.condition}}
              </div>
            </div>

            <div class="form-group clearfix row">
              <label class="label-text col-sm-3">Phase</label>
              <div class="col-sm-9">
                {{element.phase}}
              </div>
            </div>

            <div class="form-group clearfix row">
              <label class="label-text col-sm-3">Body</label>
              <div class="col-sm-9">
                <pre style="margin: 0; white-space: pre-wrap; word-break: break-word;">{{element.body}}</pre>
              </div>
            </div>

            <div class="btn-group btn-actions pull-right">
              <button type="button" (click)="edit()" class="btn btn-success">Modify</button>
              <button type="button" (click)="navigateToList()" class="btn btn-danger">Undo</button>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
