<sidebar></sidebar>
<div class="sidebar">
    <adminhome-topbar></adminhome-topbar>
</div>

<div class="sidebar-subpage">
    <h3>
        Droppable List
    </h3>

    <button pButton class="btn btn-add pull-right btn-block" (click)="new()"><i
            class="fa fa-plus-circle"></i> Add
    </button>
</div>

<div class="main">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="content list">

                    <form>
                        <div class="row">
                            <div class="clearfix"></div>
                            <div class="col-sm-12">
                                <div class="filter-wrapper clearfix">
                                </div>
                            </div>
                        </div>

                        <div class="table-wrapper clearfix">
                            <p-table #datatable (onLazyLoad)="lazyLoad($event)" [lazy]="true" [paginator]="true"
                                     [resizableColumns]="true" [responsive]="true" [rows]="10"
                                     [totalRecords]="service.listSize" [value]="model">
                                <ng-template let-columns pTemplate="header">
                                    <tr class="sort-header">
                                        <th pResizableColumn>Index</th>
                                        <th pResizableColumn>Name</th>
                                        <th pResizableColumn>Description</th>
                                        <th class="Operations">Operations</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="7">
                                            No results.
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template let-rowData let-rowIndex="rowIndex" pTemplate="body">
                                    <tr>
                                        <td class="RowIndex">{{ rowIndex + 1 }}</td>
                                        <td class="ui-resizable-column">{{rowData.name}}</td>
                                        <td class="ui-resizable-column">{{rowData.description}}</td>
                                        <td>
                                            <button (click)="edit(rowData)" class="btn btn-success btn-sm" pButton>
                                                <i aria-hidden="true" class="fa fa-pencil"></i>
                                                Modify
                                            </button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
