<sidebar></sidebar>
<div class="sidebar">
  <homepage-topbar></homepage-topbar>
</div>

<div class="sidebar-subpage">

  <h3>Edit {{metadataName}}</h3>
  <p>

  </p>


</div>


<div class="main">

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12 col-sm-12">
        <div class="content view">

          @if (errorMessage) {
            <div class="alert alert-danger" role="alert">
              {{ errorMessage }}
            </div>
          }


          @if (regConfig != null && regConfig.length > 0) {
            <div>
              <dynamic-form [fields]="regConfig">
              </dynamic-form>
              <hr>
                <div class="btn-group">
                  @if (!uuid) {
                    <button type="button" class="btn btn-success" (click)="save()">Save</button>
                  }
                  @if (uuid) {
                    <button type="button" class="btn btn-success" (click)="update()">Update</button>
                  }
                  @if (uuid) {
                    <button type="button" class="btn btn-success" (click)="confirmDelete()">Delete</button>
                  }
                  <button type="button" class="btn btn-warning" (click)="cancel()">Undo</button>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>