<ul class="list-group">
    <li class="list-group-item">
        <a [routerLink]="'/home'">
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>
    </li>
    <ng-container *ngFor="let component of model">
        <li *ngIf="component.icon" class="list-group-item">
            <a *ngIf="component.already_exist || component.created"
               [routerLink]="'/datalistgeneral/list/' + component.table_name">
                <i class="{{component.icon}}"></i>
            </a>
        </li>
    </ng-container>
</ul>
