<sidebar></sidebar>
<div class="sidebar">
    <homepage-topbar></homepage-topbar>
</div>
<div class="sidebar-subpage">

</div>


<div class="main">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="content list">
                    <div *ngFor="let component of model">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="card-home-user">
                                <a [routerLink]="'/datalist/new/' + component.table_name" class="btn btn-add pull-right">
                                    Add
                                </a>
                                <a [routerLink]="'/datalist/list/' + component.table_name">
                                    <h3>
                                        <i class="{{component.icon}} fa-3x" *ngIf="component.icon"></i> {{component.table_name}}
                                    </h3>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="content list">
                <b>Extensions</b><br/>
                <div *ngFor="let extension of extensions">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="card-home">
                            <i class="{{extension.icon}} fa-3x pull-right"></i>
                            <a [routerLink]="'/extensions/' + extension.uuid">
                                <h3>{{extension.name}}</h3>
                                <p *ngIf="extension.description">
                                    {{extension.description}}
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>


