<sidebar></sidebar>

<div class="sidebar">
    <adminhome-topbar></adminhome-topbar>
</div>

<div class="sidebar-subpage">

    <h3>
        Public Data
    </h3>
    <p>

    </p>

</div>


<div class="main">

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <form>
                    <div class="upload-box">
                        <p-fileUpload mode="basic" name="field.name" (onSelect)="uploader($event)">
                        </p-fileUpload>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>