<sidebar></sidebar>
<div class="sidebar">
  <homepage-topbar></homepage-topbar>
</div>
<div class="sidebar-subpage">
  @if (metadataGroups.length > 0) {
    <div class="metadata-group-list">
      <small class="group-list-label">Groups</small>
      <ul class="list-unstyled">
        @for (group of metadataGroups; track group) {
          <li
            class="group-item"
            [class.active]="selectedGroup === group"
            [class.btn-add]="selectedGroup === group"
            (click)="selectGroup(group)"
            [style.background]="selectedGroup === group ? '' : 'transparent'"
            [style.color]="selectedGroup === group ? '' : 'inherit'"
            style="cursor:pointer; padding:4px 8px; border-radius:4px; margin-bottom:2px; font-size:0.85rem;">
            {{group}}
          </li>
        }
      </ul>
    </div>
  }
</div>


<div class="main">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="content list">
          <div class="row g-3">
            @for (component of model; track component.table_name ?? component.uuid ?? $index) {
              <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="card-home-user">
                  <a [routerLink]="'/datalist/new/' + component.table_name" class="btn btn-add float-end">
                    Add
                  </a>
                  <a [routerLink]="'/datalist/list/' + component.table_name">
                    <h3>
                      @if (component.icon) {
                        <i class="{{component.icon}} fa-3x"></i>
                        } {{component.table_name}}
                      </h3>
                    @if (component.metadata_group) {
                      <small style="color: #9e9e9e; font-size: 0.78rem; display: block; margin-top: -6px;">{{component.metadata_group}}</small>
                    }
                    </a>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    @if (false) {
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="content list">
            <b>Extensions</b><br/>
            <div class="row g-3">
              @for (extension of extensions; track extension.uuid ?? extension.name ?? $index) {
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                  <div class="card-home">
                    <i class="{{extension.icon}} fa-3x float-end"></i>
                    <a [routerLink]="'/extensions/' + extension.uuid">
                      <h3>{{extension.name}}</h3>
                      @if (extension.description) {
                        <p>
                          {{extension.description}}
                        </p>
                      }
                    </a>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    }
  </div>


