
<div class="sidenav">
       <ul>
           <li class="active"><a href=""><i class="fa fa-tags" aria-hidden="true"></i>
           </a></li>
           <li><a href=""><i class="fa fa-tasks" aria-hidden="true"></i>
           </a></li>
       </ul>
      </div>
      <div class="main">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-3 sidebar">
                <app-topbar></app-topbar>

        </div>
        <div class="col-md-9 col-sm-9">
            <div class="row">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
</div>