<sidebar></sidebar>
<div class="sidebar">
    <adminhome-topbar></adminhome-topbar>
</div>

<div class="sidebar-subpage">
    <h3 class="first">Basic</h3>
    <p-messages [(value)]="msgs"></p-messages>

    <div>
        <button type="button" pButton (click)="showSuccess()" label="Success" class="ui-button-success">Success</button>
        <button type="button" pButton (click)="showInfo()" label="Info" class="ui-button-info">showInfo</button>
        <button type="button" pButton (click)="showWarn()" label="Warn" class="ui-button-warning">showWarn</button>
        <button type="button" pButton (click)="showError()" label="Error" class="ui-button-danger">showError</button>
        <button type="button" pButton (click)="showMultiple()" label="Multiple">showMultiple</button>
        <button type="button" pButton (click)="clear()" icon="pi pi-times" style="float:right" label="Clear">clear</button>
    </div>

    <h3>Message Service</h3>
    <button type="button" pButton (click)="showViaService()" label="Use Service">showViaService</button>
</div>

<div class="main">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="content list">
                    <div *ngFor="let component of items">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" *permit="component.roles">
                            <div class="card-home">
                                <i class="{{component.icon}} fa-3x pull-right"></i>
                                <a [routerLink]="'/' + component.section + '/' + component.id">
                                    <h3>{{component.name}}</h3>
                                    <p *ngIf="component.summary">
                                        {{component.summary}}
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
