<ul class="list-group">
    <li class="list-group-item"><a [routerLink]="''">Home</a></li>
 <li class="list-group-item"><a [routerLink]="'/metadata/list'">Metadata</a></li>
 <li class="list-group-item"><a [routerLink]="'/fielddefinition/list'">Field Definitions</a></li>
 <li class="list-group-item"><a [routerLink]="'/condition/list'">Conditions</a></li>
 <li class="list-group-item"><a [routerLink]="'/document/list'">Documents</a></li>
 <li class="list-group-item"><a [routerLink]="'/datalist/metadata'">Form Generation</a></li>
 <li class="list-group-item"><a [routerLink]="'/example'">Esempio di partenza</a></li>

</ul>