<form>
    <div style="text-align:center">
        <h1>
            Lista Documents
        </h1>
    </div>

    <div class="mat-elevation-z8">
      <p-table #table (onLazyLoad)="lazyLoad($event)" [lazy]="true" [paginator]="true" [resizableColumns]="true"
               [responsive]="true" [rows]="10" [totalRecords]="service.listSize" [value]="model">
        <ng-template let-columns pTemplate="header">
          <tr class="sort-header">
            <th pResizableColumn>Indice</th>
            <th pResizableColumn>Table name</th>
            <th pResizableColumn>Table key</th>
            <th pResizableColumn>Original name</th>
            <th pResizableColumn>Path</th>
            <th pResizableColumn>Name</th>
            <th pResizableColumn>Size</th>
            <th pResizableColumn>Mimetype</th>
            <th pResizableColumn>Query Params</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="colspan">
              Nessun risultato.
            </td>
          </tr>
        </ng-template>
        <ng-template let-rowData let-rowIndex="rowIndex" pTemplate="body">
          <tr>
            <td class="RowIndex">{{ rowIndex + 1 }}</td>
            <td class="ui-resizable-column">{{rowData.table_name}}</td>
            <td class="ui-resizable-column">{{rowData.table_key}}</td>
            <td class="ui-resizable-column">{{rowData.original_name}}</td>
            <td class="ui-resizable-column">{{rowData.path}}</td>
            <td class="ui-resizable-column">{{rowData.name}}</td>
            <td class="ui-resizable-column">{{rowData.size}}</td>
            <td class="ui-resizable-column">{{rowData.mimetype}}</td>
            <td class="ui-resizable-column">{{rowData.query_params}}</td>
            <td>
              <button (click)="edit(rowData)" class="btn btn-success btn-sm" pButton>
                <i aria-hidden="true" class="fa fa-pencil"></i>
                Modifica
              </button>
            </td>

          </tr>
        </ng-template>
      </p-table>

    </div>
    <button mat-button (click)="new()">Aggiungi!</button>

</form>
