<sidebar></sidebar>


<div class="sidebar">
  <adminhome-topbar></adminhome-topbar>
</div>

<div class="sidebar-subpage">
  <h3>
    Metadata List
  </h3>
  <p>

  </p>
  <button type="button" class="btn btn-add btn-block" style="display: block; width: 100%; margin-bottom: 8px;" (click)="new()"><i class="fa fa-plus-circle"></i> Add
  </button>

  <button type="button" class="btn btn-search btn-block" style="display: block; width: 100%; margin-bottom: 8px;" (click)="toggleExportMode()">
    <i class="fa fa-download"></i> Export
  </button>

  <button type="button" class="btn btn-reset btn-block" style="display: block; width: 100%;" (click)="toggleImportMode()">
    <i class="fa fa-upload"></i> Import
  </button>
</div>


<div class="main">

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12 col-sm-12">
        <div class="content list">

          @if (importMode) {
            <div class="panel panel-default" style="margin-bottom: 16px;">
              <div class="panel-heading">
                <strong>Import Metadata JSON</strong>
              </div>
              <div class="panel-body">
                <div class="row" style="margin-bottom: 10px;">
                  <div class="col-sm-8">
                    <input type="file" accept="application/json,.json" class="form-control" (change)="onImportFileSelected($event)" />
                  </div>
                  <div class="col-sm-4">
                    <button
                      type="button"
                      class="btn btn-search btn-block"
                      [disabled]="isImporting || importRows.filter(row => !row.exists).length === 0"
                      (click)="importMetadatasFromFile()">
                      Import New Metadatas
                    </button>
                  </div>
                </div>

                @if (importFileName) {
                  <p><strong>Selected file:</strong> {{ importFileName }}</p>
                }

                @if (isLoadingExistingMetadatas) {
                  <p>Checking existing metadatas...</p>
                }

                @if (importRows.length > 0) {
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                      <thead>
                      <tr>
                        <th>Table Name</th>
                        <th>UUID</th>
                        <th>Fields</th>
                        <th>Status</th>
                      </tr>
                      </thead>
                      <tbody>
                      @for (row of importRows; track $index) {
                        <tr>
                          <td>{{ row.tableName }}</td>
                          <td>{{ row.uuid || '-' }}</td>
                          <td>{{ row.fieldsCount }}</td>
                          <td>
                            @if (row.exists) {
                              <span class="text-danger"><strong>Already exists - will be skipped</strong></span>
                            } @else {
                              <span class="text-success"><strong>New - ready to import</strong></span>
                            }
                          </td>
                        </tr>
                      }
                      </tbody>
                    </table>
                  </div>
                }
              </div>
            </div>
          }

          <form>

            <div class="row">
              <div class="clearfix"></div>
              <div class="col-sm-12">

                <div class="filter-wrapper" (keydown.enter)="onSearchEnter($event, datatable)">
                  <div class="fw-search-fields">
                    @if (service.search) {
                      <input id="nome" name="nome" type="text" placeholder="name" class="form-control" [(ngModel)]="service.search.table_name_contains" pInputText #nome="ngModel">
                    }
                  </div>
                  <div class="fw-spacer"></div>
                  <div class="fw-actions">
                    <div class="btn-group">
                      <button type="button" class="btn btn-search" (click)="reload(datatable)">Search</button>
                      <button type="button" class="btn btn-reset" (click)="reset(datatable)">Undo</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="table-wrapper clearfix">

              <p-table #datatable (onLazyLoad)="lazyLoad($event)" [lazy]="true" [paginator]="true" [resizableColumns]="true" [rows]="10" [totalRecords]="service.listSize" [value]="model">

                <ng-template let-columns pTemplate="header">
                  <tr class="sort-header">
                    @if (exportMode) {
                      <th pResizableColumn>
                        <input
                          type="checkbox"
                          [checked]="areAllVisibleRowsSelected()"
                          (change)="toggleSelectAllVisibleRows($any($event.target).checked)" />
                      </th>
                    }
                    <th pResizableColumn>Index</th>
                    <th pResizableColumn>Table Name</th>
                    <th pResizableColumn>Table Type</th>
                    <th pResizableColumn>Description</th>
                    <th pResizableColumn>Table Key</th>
                    <th pResizableColumn>Alias Table</th>
                    <th pResizableColumn>Order By</th>
                    <th class="Operations">Operations</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td [attr.colspan]="exportMode ? 9 : 8">
                      No results.
                    </td>
                  </tr>
                </ng-template>
                <ng-template let-rowData let-rowIndex="rowIndex" pTemplate="body">
                  <tr>
                    @if (exportMode) {
                      <td>
                        <input
                          type="checkbox"
                          [checked]="isMetadataSelectedForExport(rowData)"
                          (change)="onExportSelectionChange(rowData, $any($event.target).checked)" />
                      </td>
                    }
                    <td class="RowIndex">{{ rowIndex + 1 }}</td>
                    <td class="ui-resizable-column">
                      <button type="button" class="btn btn-value" (click)="view(rowData)" title="View">
                        <i aria-hidden="true" class="fa fa-table"></i>  {{rowData.table_name}}
                      </button>
                    </td>
                    <td class="ui-resizable-column">{{rowData.already_exist ? 'already_exist' : 'created'}}</td>
                    <td class="ui-resizable-column">{{rowData.description}}</td>
                    <td class="ui-resizable-column">{{rowData.table_key}}</td>
                    <td class="ui-resizable-column">{{rowData.alias_table}}</td>
                    <td class="ui-resizable-column">{{rowData.order_by}}</td>
                    <td>
                      <div class="btn-group">
                        @if (!rowData.created || rowData.already_exist) {
                          <button type="button" class="btn btn-default btn-square" (click)="edit(rowData)" title="Modify">
                            <i aria-hidden="true" class="fa fa-pencil"></i>
                          </button>
                        }
                        @if (!rowData.created || rowData.already_exist) {
                          <button type="button" class="btn btn-success btn-square" (click)="addField(rowData)" title="Add Field Definition">
                            <i aria-hidden="true" class="fa fa-plus"></i>
                          </button>
                        }
                        @if (!rowData.created && !rowData.already_exist) {
                          <button type="button" class="btn btn-primary btn-square" (click)="confirmCreateTable(rowData)" title="Create Table on Database">
                            <i aria-hidden="true" class="fa fa-table"></i>
                          </button>
                        }

                        @if (rowData.created && !rowData.already_exist) {
                          <button type="button" class="btn btn-warning btn-square" (click)="confirmTruncateTable(rowData)" title="Truncate Table Data">
                            <i aria-hidden="true" class="fa fa-eraser"></i>
                          </button>
                        }

                        @if (rowData.created && !rowData.already_exist) {
                          <button type="button" class="btn btn-danger btn-square" (click)="confirmDeleteTable(rowData)" title="Delete Table on Database">
                            <i aria-hidden="true" class="fa fa-exclamation-triangle"></i>
                          </button>
                        }
                      </div>

                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>

            @if (exportMode) {
              <div style="margin-top: 16px; text-align: right;">
                <p><strong>Selected metadatas:</strong> {{ selectedExportUuids.size }}</p>
                <button
                  type="button"
                  class="btn btn-search"
                  [disabled]="selectedExportUuids.size === 0 || isExporting"
                  (click)="exportSelectedMetadatas()">
                  Export All
                </button>
              </div>
            }
          </form>
        </div>
      </div>
    </div>
  </div>
</div>